.sidebox{
    width: 200px;
    height: 550px;
    /* margin-left:1%; */
    /* border-radius: 20px; */
    background-color: #000000;
    height: 100vh;
}

.hover:hover {
    color: gold !important;
  }