:root {

  --jauneMoutard-color: #f0c300;
  --jauneDoree-color:#efd807;
  --noir-color:#2c2d34;
  --orange-color:#f2910a;
  --bleuNoir-one-color:#2f1b41;
  --bleuNoir-two-color:#11144c;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fill{
    height: 100vh !important;
  }

  ::-webkit-scrollbar {
    display: none;
}
.tblw{
  height: 550px !important; 
  width: 1000px !important;
}
  .auth{
    background-color:#e3e3e3 ;
  }
  
  form{
      background-color: #fff;
      padding: 10px 50px;
      border-radius: 10px;
      width: 450px;
  }

  .bgf{
    background-color: rgba(147, 141, 141, 0.372) !important;
  }
  
  h1{
      color: rgb(77, 1, 77);
      text-align: center;
      padding-top: 8px;
  }
  
  button{
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: #f0c300;
      color: white;
      border-radius: 10px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  }

.mfsize{
   font-size: 70%;
}

  .tbl{
    height: 80% !important;
    width: 100% !important;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
    border: 1px solid gray;
  }
.minimize{
  margin: 2px;
  padding: 0;
  width: 30px !important;
  height: 30px !important;
}
  .pdashbor{
    cursor: pointer
}
 
/* CART BAG */
.nav-bag {
  display: flex;
  align-items: center;
  color: #e3e3e3;
}

.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: yellow;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}

.bag-quantity span {
  display: block;
  color: black;
  font-size: large;
}
